body {
  height: 1500px;
}

.bg-img {
  background-image: url('/static/images/banner-2369464_1920.jpg');
  width: 100%;
  height: 150px;
  background-size: cover;
}

.box-1 {
  height: 350px;
}

.icon-link {
  margin: 15px 0;
  width: 45px;
  height: 45px;
}