{% extends 'base.html' %}

{% block content %}
<h1>상세보기</h1>
{{ post.title }}
<br>
개발중..
<br>
{{ post.updated_at }}
<br>
{% if post.image %}
  <img src="{{ post.image.url }}" alt="{{ post.image }}">
  <br>
{% endif %}
{{ post.content|linebreaks }}

<a href="{% url 'board:update' post.pk %}"><button class="btn btn-success">수정</button></a>
<form action="{% url 'board:delete' post.pk %}" method="POST" class="d-inline-block">
  {% csrf_token %}
  <button class="btn btn-danger" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</button>
</form>
<a href="{% url 'board:index' %}"><button class="btn btn-secondary">목록으로</button></a>
{% endblock content %}