{% extends 'base.html' %}

{% block content %}
<h1 class="my-3"><a href="{% url 'articles:index' %}">게시판</a></h1>
<hr><br>
<div class="row">
  <div class="offset-1 col-10">
    <b class="fs-4">{{ article.title }}</b>
    <br>
    {{ article.created_at }}<span style="font-size: 10px;"> 작성됨</span>
  </div>
  <div class="offset-1 col-10 mt-4">
    <p>{{ article.content }}</p>
  </div>
</div>
<div class="my-4 offset-10 col-1">
  <a class="btn btn-secondary" href="{% url 'articles:index' %}">뒤로가기</a>
</div>
{% endblock content %}