{% extends 'base.html' %}

{% block content %}
<h1 class="my-3"><a href="">게시판</a></h1>
<hr>
<div class="row text-center fs-5 fw-bold">
  <div class="col-1">글 번호</div>
  <div class="col-4">제 목</div>
  <div class="col-4">내 용</div>
  <div class="col-3">만든 날짜</div>
</div>
<hr>
{% for article in articles %}
<div class="row">
  <div class="col-1 text-center">{{ forloop.counter }}</div>
  {% if article.title|length < 28 %}
  <div class="col-4"><a href="{{ article.pk }}/">{{ article.title }} <span class="text-secondary">[{{ article.pk }}]</span></a></div>
  {% else %}
  <div class="col-4"><a href="{{ article.pk }}/">{{ article.title|truncatechars:28 }}</a></div>
  {% endif %}  
  {% if article.content|length < 28 %}
  <div class="col-4"><a href="{{ article.pk }}">{{ article.content }}</a></div>
  {% else %}
  <div class="col-4"><a href="{{ article.pk }}">{{ article.content|truncatechars:28 }}</a></div>
  {% endif %}
  <div class="col-3 text-center">{{ article.created_at|date:"Y년 m월 d일 (D) A G:i" }}</div>
</div>
<br>
{% endfor %}

<footer class="d-flex justify-content-end">
  <a class="btn btn-primary me-2 my-5 btn-w-2" href="{% url 'articles:new' %}" role="button">글쓰기</a>
</footer>
{% endblock content %}